version: "3.9"

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL:mongodb://mongo:27017/appdb
    depends_on:
      - mongo
    networks:
      - backend-net
  
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    networks:
     - backend-net

networks:
  backend-net:
    driver: bridge
